<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <!-- Applying the theme styles -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
    <div class="wrapper">
        <header>
            <h1>{{ site.title }}</h1>
        </header>

        <main>
            <ul>
                <!-- Loop through all pages -->
                {% for page in site.pages %}
                    {% unless page.url == "/" or page.url == "/redirects.json" or page.url == "/Scratchpad.html" %}
                        <li><a href="{{ page.url }}">{{ page.url }}</a></li>
                    {% endunless %}
                {% endfor %}

                <!-- Loop through all static files (including PDFs) or file.path contains '/assets/css/' -->
                {% for file in site.static_files %}
                    {% unless file.path contains 'assets' %}
                        {% if file.extname == ".pdf" or site.show_downloads %}
                            <li><a href="{{ file.path }}">{{ file.path | remove_first: "/" }}</a></li>
                        {% endif %}
                    {% endunless %}
                {% endfor %}
            </ul>
        </main>
    </div>
</body>
</html>